html {
  height: 100%;
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
  background: radial-gradient(#1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1306px 71px #fff, 1238px 1302px #fff, 54px 1458px #fff,
    1787px 762px #fff, 1701px 750px #fff, 847px 1250px #fff, 1396px 1204px #fff,
    501px 928px #fff, 376px 1779px #fff, 999px 505px #fff, 198px 1902px #fff,
    626px 57px #fff, 84px 753px #fff, 1240px 1982px #fff, 1153px 1864px #fff,
    781px 1201px #fff, 314px 877px #fff, 18px 1886px #fff, 191px 728px #fff,
    358px 441px #fff, 615px 89px #fff, 187px 1026px #fff, 390px 655px #fff,
    1278px 544px #fff, 229px 238px #fff, 1236px 660px #fff, 1904px 556px #fff,
    296px 1195px #fff, 1775px 1082px #fff, 452px 128px #fff, 67px 40px #fff,
    505px 1202px #fff, 543px 591px #fff, 1064px 412px #fff, 548px 1433px #fff,
    839px 1114px #fff, 1266px 1606px #fff, 1633px 1623px #fff,
    1397px 1071px #fff, 1475px 996px #fff, 535px 1410px #fff, 1313px 1752px #fff,
    370px 1597px #fff, 1763px 1932px #fff, 1412px 276px #fff, 1284px 846px #fff,
    1611px 990px #fff, 417px 1501px #fff, 987px 463px #fff, 1340px 1970px #fff,
    709px 601px #fff, 1776px 165px #fff, 1389px 1030px #fff, 889px 279px #fff,
    1298px 169px #fff, 1316px 1146px #fff, 308px 1734px #fff, 650px 1375px #fff,
    1099px 201px #fff, 448px 1716px #fff, 509px 1317px #fff, 451px 1816px #fff,
    341px 1733px #fff, 1511px 54px #fff, 535px 660px #fff, 1334px 1237px #fff,
    337px 1348px #fff, 982px 1833px #fff, 1776px 1658px #fff, 1005px 108px #fff,
    1748px 592px #fff, 1528px 590px #fff, 397px 1542px #fff, 483px 1729px #fff,
    486px 1015px #fff, 419px 1790px #fff, 423px 1507px #fff, 1657px 1706px #fff,
    1981px 1693px #fff, 558px 19px #fff, 498px 930px #fff, 661px 904px #fff,
    831px 1824px #fff, 27px 1323px #fff, 1843px 1302px #fff, 539px 742px #fff,
    1174px 1256px #fff, 283px 1088px #fff, 119px 1850px #fff, 1663px 705px #fff,
    1334px 1752px #fff, 101px 1872px #fff, 833px 612px #fff, 167px 483px #fff,
    390px 1872px #fff, 1521px 1792px #fff, 809px 85px #fff, 1632px 1840px #fff,
    1825px 1320px #fff, 886px 263px #fff, 1488px 1831px #fff, 1015px 1455px #fff,
    268px 552px #fff, 1873px 31px #fff, 129px 1493px #fff, 1863px 51px #fff,
    910px 373px #fff, 897px 1153px #fff, 195px 1136px #fff, 809px 950px #fff,
    122px 402px #fff, 1477px 1193px #fff, 218px 1263px #fff, 1872px 6px #fff,
    394px 1447px #fff, 608px 380px #fff, 515px 1194px #fff, 1086px 765px #fff,
    1049px 1641px #fff, 1741px 298px #fff, 577px 850px #fff, 851px 865px #fff,
    775px 1635px #fff, 1408px 1337px #fff, 930px 1638px #fff, 1624px 88px #fff,
    1452px 1325px #fff, 1410px 449px #fff, 144px 1917px #fff, 1125px 526px #fff,
    695px 709px #fff, 321px 4px #fff, 1779px 177px #fff, 1062px 1437px #fff,
    1214px 1297px #fff, 564px 875px #fff, 1970px 801px #fff, 1595px 1351px #fff,
    424px 793px #fff, 179px 1938px #fff, 1539px 1751px #fff, 255px 1803px #fff,
    884px 37px #fff, 1511px 42px #fff, 948px 1921px #fff, 854px 1204px #fff,
    1348px 1300px #fff, 1040px 1470px #fff, 1761px 1665px #fff,
    1152px 121px #fff, 1538px 444px #fff, 123px 1787px #fff, 503px 1815px #fff,
    523px 1969px #fff, 883px 862px #fff, 375px 1937px #fff, 741px 1206px #fff,
    1343px 866px #fff, 780px 1710px #fff, 1860px 278px #fff, 1682px 1090px #fff,
    716px 9px #fff, 105px 1261px #fff, 248px 1071px #fff, 1211px 1119px #fff,
    1453px 721px #fff, 1622px 744px #fff, 246px 1383px #fff, 1274px 314px #fff,
    731px 1805px #fff, 352px 237px #fff, 664px 445px #fff, 1166px 1672px #fff,
    937px 1414px #fff, 1430px 1914px #fff, 1517px 53px #fff, 727px 72px #fff,
    1571px 1744px #fff, 1167px 1498px #fff, 1945px 618px #fff, 198px 411px #fff,
    817px 1957px #fff, 488px 1876px #fff, 847px 1429px #fff, 1555px 1403px #fff,
    1123px 1522px #fff, 993px 1909px #fff, 923px 947px #fff, 1506px 631px #fff,
    964px 528px #fff, 1191px 1427px #fff, 1745px 1413px #fff, 1183px 288px #fff,
    426px 497px #fff, 831px 1995px #fff, 1456px 752px #fff, 501px 1595px #fff,
    1240px 1764px #fff, 606px 1492px #fff, 1249px 254px #fff, 578px 1785px #fff,
    1863px 121px #fff, 568px 1774px #fff, 708px 361px #fff, 1402px 534px #fff,
    201px 1475px #fff, 1213px 1608px #fff, 1054px 467px #fff, 1028px 1885px #fff,
    511px 1093px #fff, 473px 457px #fff, 155px 1860px #fff, 171px 1071px #fff,
    1946px 278px #fff, 321px 1594px #fff, 397px 864px #fff, 810px 1945px #fff,
    481px 1262px #fff, 1464px 329px #fff, 326px 452px #fff, 965px 1902px #fff,
    711px 748px #fff, 381px 518px #fff, 1069px 356px #fff, 431px 630px #fff,
    589px 40px #fff, 1527px 344px #fff, 67px 1920px #fff, 78px 84px #fff,
    1980px 1165px #fff, 629px 1373px #fff, 835px 1025px #fff, 1171px 1882px #fff,
    441px 712px #fff, 1082px 1816px #fff, 1430px 979px #fff, 168px 851px #fff,
    127px 813px #fff, 1427px 1360px #fff, 236px 1170px #fff, 839px 414px #fff,
    1846px 222px #fff, 1337px 1179px #fff, 1293px 809px #fff, 51px 23px #fff,
    1796px 1422px #fff, 105px 481px #fff, 476px 1153px #fff, 1465px 883px #fff,
    1942px 797px #fff, 1750px 2px #fff, 1202px 731px #fff, 398px 1984px #fff,
    1597px 1646px #fff, 974px 461px #fff, 1608px 1323px #fff, 1134px 893px #fff,
    628px 1249px #fff, 1398px 1498px #fff, 1528px 1392px #fff, 329px 1792px #fff,
    335px 480px #fff, 940px 1156px #fff, 265px 1467px #fff, 1493px 650px #fff,
    1555px 390px #fff, 1867px 1078px #fff, 1247px 576px #fff, 1222px 1376px #fff,
    182px 918px #fff, 294px 301px #fff, 423px 273px #fff, 1536px 1282px #fff,
    150px 1373px #fff, 1559px 1384px #fff, 1729px 239px #fff, 387px 1328px #fff,
    849px 1918px #fff, 1812px 935px #fff, 1897px 1770px #fff, 136px 511px #fff,
    747px 939px #fff, 1194px 380px #fff, 207px 523px #fff, 1875px 311px #fff,
    1208px 423px #fff, 1506px 1142px #fff, 1451px 542px #fff, 819px 861px #fff,
    1777px 808px #fff, 854px 856px #fff, 440px 1221px #fff, 428px 115px #fff,
    646px 1215px #fff, 1286px 1798px #fff, 1097px 21px #fff, 129px 615px #fff,
    241px 229px #fff, 393px 378px #fff, 1188px 1240px #fff, 880px 1303px #fff,
    1195px 46px #fff, 879px 418px #fff, 1320px 284px #fff, 472px 29px #fff,
    1673px 542px #fff, 1970px 596px #fff, 1926px 232px #fff, 1617px 159px #fff,
    403px 151px #fff, 580px 1911px #fff, 1104px 851px #fff, 979px 1538px #fff,
    1711px 881px #fff, 775px 1378px #fff, 794px 1269px #fff, 994px 1431px #fff,
    811px 147px #fff, 202px 1147px #fff, 894px 114px #fff, 321px 655px #fff,
    163px 1484px #fff, 280px 1408px #fff, 743px 446px #fff, 68px 1553px #fff,
    1236px 760px #fff, 1443px 1767px #fff, 1550px 1130px #fff, 362px 855px #fff,
    36px 679px #fff, 648px 1182px #fff, 1703px 1045px #fff, 1631px 825px #fff,
    1623px 551px #fff, 1397px 1022px #fff, 1077px 1234px #fff, 350px 1515px #fff,
    1109px 1866px #fff, 1235px 351px #fff, 935px 1208px #fff, 1729px 793px #fff,
    615px 1695px #fff, 993px 230px #fff, 1314px 1632px #fff, 227px 22px #fff,
    1613px 682px #fff, 1120px 1244px #fff, 1068px 995px #fff, 694px 788px #fff,
    880px 739px #fff, 1091px 1528px #fff, 1243px 467px #fff, 1860px 309px #fff,
    1988px 995px #fff, 972px 641px #fff, 833px 471px #fff, 770px 1505px #fff,
    1693px 1291px #fff, 1159px 1765px #fff, 551px 53px #fff, 252px 1481px #fff,
    1290px 1353px #fff, 195px 701px #fff, 999px 203px #fff, 1553px 127px #fff,
    136px 1148px #fff, 1183px 1280px #fff, 1682px 242px #fff, 582px 1626px #fff,
    1920px 281px #fff, 478px 435px #fff, 224px 861px #fff, 814px 870px #fff,
    1062px 1459px #fff, 1825px 1665px #fff, 1823px 1858px #fff,
    707px 1061px #fff, 1184px 76px #fff, 751px 1014px #fff, 747px 1035px #fff,
    198px 2px #fff, 1891px 909px #fff, 751px 1026px #fff, 300px 1157px #fff,
    155px 911px #fff, 1886px 1835px #fff, 1692px 1195px #fff, 226px 1656px #fff,
    226px 1762px #fff, 1272px 1560px #fff, 22px 1085px #fff, 935px 441px #fff,
    585px 909px #fff, 463px 1183px #fff, 1538px 1832px #fff, 597px 680px #fff,
    377px 1149px #fff, 313px 532px #fff, 787px 297px #fff, 808px 1296px #fff,
    1766px 192px #fff, 1316px 1973px #fff, 1797px 475px #fff, 1758px 1479px #fff,
    177px 1801px #fff, 261px 832px #fff, 1834px 2000px #fff, 1790px 293px #fff,
    1946px 197px #fff, 657px 587px #fff, 845px 1299px #fff, 782px 564px #fff,
    682px 1639px #fff, 276px 1845px #fff, 1639px 1571px #fff, 1144px 580px #fff,
    1733px 601px #fff, 754px 1050px #fff, 1183px 659px #fff, 1611px 1210px #fff,
    287px 1131px #fff, 1020px 67px #fff, 966px 1368px #fff, 469px 667px #fff,
    1546px 1759px #fff, 1912px 1225px #fff, 1293px 486px #fff, 718px 189px #fff,
    1361px 1983px #fff, 1045px 237px #fff, 1047px 1977px #fff, 1112px 1px #fff,
    1685px 1456px #fff, 880px 459px #fff, 871px 1450px #fff, 62px 929px #fff,
    585px 53px #fff, 809px 1841px #fff, 1432px 269px #fff, 474px 1305px #fff,
    1834px 1702px #fff, 1541px 341px #fff, 713px 1971px #fff, 1637px 1581px #fff,
    68px 678px #fff, 405px 226px #fff, 1547px 895px #fff, 931px 972px #fff,
    607px 1470px #fff, 907px 1897px #fff, 248px 1725px #fff, 730px 1510px #fff,
    460px 771px #fff, 1119px 844px #fff, 1014px 1856px #fff, 484px 848px #fff,
    117px 992px #fff, 445px 79px #fff, 244px 989px #fff, 1723px 1070px #fff,
    432px 594px #fff, 182px 1889px #fff, 290px 84px #fff, 540px 564px #fff,
    421px 1945px #fff, 1611px 769px #fff, 1404px 333px #fff, 153px 1054px #fff,
    745px 1843px #fff, 639px 1526px #fff, 259px 1146px #fff, 1684px 929px #fff,
    874px 1487px #fff, 1807px 909px #fff, 436px 1851px #fff, 1117px 1036px #fff,
    1482px 1413px #fff, 1813px 1282px #fff, 1890px 587px #fff,
    1953px 1371px #fff, 98px 1563px #fff, 1268px 1751px #fff, 1155px 522px #fff,
    216px 1343px #fff, 3px 1796px #fff, 1229px 1335px #fff, 1217px 1867px #fff,
    1521px 764px #fff, 1508px 627px #fff, 1726px 1610px #fff, 711px 350px #fff,
    1664px 1086px #fff, 1212px 1038px #fff, 645px 1849px #fff, 1138px 363px #fff,
    259px 257px #fff, 1918px 394px #fff, 243px 1870px #fff, 1737px 43px #fff,
    1296px 857px #fff, 171px 641px #fff, 383px 57px #fff, 1135px 1438px #fff,
    873px 1787px #fff, 1181px 1746px #fff, 1544px 1489px #fff, 1515px 382px #fff,
    1605px 352px #fff, 167px 1035px #fff, 8px 1745px #fff, 385px 474px #fff,
    1730px 1980px #fff, 808px 310px #fff, 824px 1550px #fff, 1232px 348px #fff,
    225px 257px #fff, 945px 1684px #fff, 371px 447px #fff, 811px 686px #fff,
    1455px 285px #fff, 1095px 325px #fff, 1426px 954px #fff, 446px 1973px #fff,
    996px 1203px #fff, 1242px 1420px #fff, 1799px 1770px #fff, 802px 219px #fff,
    894px 1436px #fff, 1042px 564px #fff, 1033px 49px #fff, 1817px 865px #fff,
    19px 1093px #fff, 323px 1381px #fff, 327px 1165px #fff, 1324px 584px #fff,
    1583px 875px #fff, 1138px 1223px #fff, 257px 1093px #fff, 14px 1827px #fff,
    1341px 6px #fff, 769px 1047px #fff, 1958px 1598px #fff, 149px 1816px #fff,
    1058px 1233px #fff, 1263px 257px #fff, 1319px 771px #fff, 1430px 913px #fff,
    760px 689px #fff, 431px 693px #fff, 296px 1954px #fff, 1766px 402px #fff,
    1742px 176px #fff, 1799px 672px #fff, 1109px 2000px #fff, 472px 682px #fff,
    745px 1291px #fff, 1387px 689px #fff, 1743px 535px #fff, 881px 189px #fff,
    1138px 1061px #fff, 1997px 1072px #fff, 995px 175px #fff, 1506px 598px #fff,
    1665px 1214px #fff, 196px 467px #fff, 1898px 729px #fff, 1821px 496px #fff,
    143px 1647px #fff, 320px 145px #fff, 1038px 303px #fff, 1045px 162px #fff,
    1579px 71px #fff, 1296px 253px #fff, 1659px 451px #fff, 707px 1584px #fff,
    405px 551px #fff, 534px 1925px #fff, 808px 331px #fff, 681px 1718px #fff,
    1478px 730px #fff, 568px 667px #fff, 439px 1110px #fff, 812px 1470px #fff,
    562px 9px #fff, 12px 1330px #fff, 727px 1076px #fff, 1325px 115px #fff,
    1802px 674px #fff, 352px 1847px #fff, 589px 730px #fff, 813px 1707px #fff,
    1701px 1747px #fff, 260px 1512px #fff, 612px 1177px #fff, 1474px 613px #fff,
    875px 1437px #fff, 223px 1693px #fff, 622px 575px #fff, 90px 279px #fff,
    1140px 1119px #fff, 1px 359px #fff, 1045px 64px #fff, 1932px 1387px #fff,
    433px 127px #fff, 368px 131px #fff, 960px 713px #fff, 622px 639px #fff,
    1127px 171px #fff, 418px 948px #fff, 1064px 778px #fff, 702px 1028px #fff,
    315px 61px #fff, 1060px 1244px #fff, 815px 1783px #fff, 813px 602px #fff,
    1839px 289px #fff, 136px 1070px #fff, 401px 1837px #fff, 864px 234px #fff,
    732px 441px #fff, 1730px 562px #fff, 423px 468px #fff, 1203px 1187px #fff,
    1508px 109px #fff, 1448px 1814px #fff, 803px 663px #fff, 1707px 1485px #fff,
    615px 619px #fff, 57px 133px #fff, 1137px 725px #fff, 514px 775px #fff,
    1430px 399px #fff, 1112px 1982px #fff, 768px 112px #fff, 534px 581px #fff,
    783px 145px #fff, 955px 1037px #fff, 93px 1465px #fff, 1757px 1124px #fff,
    1021px 924px #fff, 1633px 1013px #fff, 982px 61px #fff, 516px 1883px #fff,
    287px 1276px #fff, 261px 555px #fff, 348px 1594px #fff, 302px 1670px #fff,
    1337px 1434px #fff, 612px 749px #fff, 871px 697px #fff, 388px 990px #fff,
    737px 1672px #fff, 935px 1019px #fff, 1782px 1405px #fff, 1127px 1974px #fff,
    689px 1804px #fff, 322px 1003px #fff, 1149px 127px #fff, 666px 1026px #fff,
    876px 1947px #fff, 838px 945px #fff, 1550px 235px #fff, 1353px 1743px #fff,
    767px 643px #fff, 12px 1517px #fff, 545px 297px #fff, 1912px 286px #fff,
    203px 2000px #fff, 1084px 124px #fff, 19px 1716px #fff, 40px 466px #fff,
    1613px 892px #fff, 45px 1755px #fff, 1741px 1945px #fff, 1564px 1565px #fff,
    1439px 1683px #fff, 1239px 1149px #fff, 2000px 1916px #fff,
    186px 1287px #fff, 1442px 467px #fff, 613px 187px #fff, 365px 464px #fff,
    699px 1240px #fff, 1660px 99px #fff, 1899px 1135px #fff, 1860px 468px #fff,
    1136px 1178px #fff, 1334px 1761px #fff, 894px 1147px #fff, 1613px 693px #fff,
    1554px 8px #fff, 643px 1784px #fff, 439px 448px #fff, 1650px 548px #fff,
    1771px 373px #fff, 187px 1065px #fff, 1344px 935px #fff, 1385px 863px #fff,
    1026px 1365px #fff, 91px 1064px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1306px 71px #fff, 1238px 1302px #fff, 54px 1458px #fff,
    1787px 762px #fff, 1701px 750px #fff, 847px 1250px #fff, 1396px 1204px #fff,
    501px 928px #fff, 376px 1779px #fff, 999px 505px #fff, 198px 1902px #fff,
    626px 57px #fff, 84px 753px #fff, 1240px 1982px #fff, 1153px 1864px #fff,
    781px 1201px #fff, 314px 877px #fff, 18px 1886px #fff, 191px 728px #fff,
    358px 441px #fff, 615px 89px #fff, 187px 1026px #fff, 390px 655px #fff,
    1278px 544px #fff, 229px 238px #fff, 1236px 660px #fff, 1904px 556px #fff,
    296px 1195px #fff, 1775px 1082px #fff, 452px 128px #fff, 67px 40px #fff,
    505px 1202px #fff, 543px 591px #fff, 1064px 412px #fff, 548px 1433px #fff,
    839px 1114px #fff, 1266px 1606px #fff, 1633px 1623px #fff,
    1397px 1071px #fff, 1475px 996px #fff, 535px 1410px #fff, 1313px 1752px #fff,
    370px 1597px #fff, 1763px 1932px #fff, 1412px 276px #fff, 1284px 846px #fff,
    1611px 990px #fff, 417px 1501px #fff, 987px 463px #fff, 1340px 1970px #fff,
    709px 601px #fff, 1776px 165px #fff, 1389px 1030px #fff, 889px 279px #fff,
    1298px 169px #fff, 1316px 1146px #fff, 308px 1734px #fff, 650px 1375px #fff,
    1099px 201px #fff, 448px 1716px #fff, 509px 1317px #fff, 451px 1816px #fff,
    341px 1733px #fff, 1511px 54px #fff, 535px 660px #fff, 1334px 1237px #fff,
    337px 1348px #fff, 982px 1833px #fff, 1776px 1658px #fff, 1005px 108px #fff,
    1748px 592px #fff, 1528px 590px #fff, 397px 1542px #fff, 483px 1729px #fff,
    486px 1015px #fff, 419px 1790px #fff, 423px 1507px #fff, 1657px 1706px #fff,
    1981px 1693px #fff, 558px 19px #fff, 498px 930px #fff, 661px 904px #fff,
    831px 1824px #fff, 27px 1323px #fff, 1843px 1302px #fff, 539px 742px #fff,
    1174px 1256px #fff, 283px 1088px #fff, 119px 1850px #fff, 1663px 705px #fff,
    1334px 1752px #fff, 101px 1872px #fff, 833px 612px #fff, 167px 483px #fff,
    390px 1872px #fff, 1521px 1792px #fff, 809px 85px #fff, 1632px 1840px #fff,
    1825px 1320px #fff, 886px 263px #fff, 1488px 1831px #fff, 1015px 1455px #fff,
    268px 552px #fff, 1873px 31px #fff, 129px 1493px #fff, 1863px 51px #fff,
    910px 373px #fff, 897px 1153px #fff, 195px 1136px #fff, 809px 950px #fff,
    122px 402px #fff, 1477px 1193px #fff, 218px 1263px #fff, 1872px 6px #fff,
    394px 1447px #fff, 608px 380px #fff, 515px 1194px #fff, 1086px 765px #fff,
    1049px 1641px #fff, 1741px 298px #fff, 577px 850px #fff, 851px 865px #fff,
    775px 1635px #fff, 1408px 1337px #fff, 930px 1638px #fff, 1624px 88px #fff,
    1452px 1325px #fff, 1410px 449px #fff, 144px 1917px #fff, 1125px 526px #fff,
    695px 709px #fff, 321px 4px #fff, 1779px 177px #fff, 1062px 1437px #fff,
    1214px 1297px #fff, 564px 875px #fff, 1970px 801px #fff, 1595px 1351px #fff,
    424px 793px #fff, 179px 1938px #fff, 1539px 1751px #fff, 255px 1803px #fff,
    884px 37px #fff, 1511px 42px #fff, 948px 1921px #fff, 854px 1204px #fff,
    1348px 1300px #fff, 1040px 1470px #fff, 1761px 1665px #fff,
    1152px 121px #fff, 1538px 444px #fff, 123px 1787px #fff, 503px 1815px #fff,
    523px 1969px #fff, 883px 862px #fff, 375px 1937px #fff, 741px 1206px #fff,
    1343px 866px #fff, 780px 1710px #fff, 1860px 278px #fff, 1682px 1090px #fff,
    716px 9px #fff, 105px 1261px #fff, 248px 1071px #fff, 1211px 1119px #fff,
    1453px 721px #fff, 1622px 744px #fff, 246px 1383px #fff, 1274px 314px #fff,
    731px 1805px #fff, 352px 237px #fff, 664px 445px #fff, 1166px 1672px #fff,
    937px 1414px #fff, 1430px 1914px #fff, 1517px 53px #fff, 727px 72px #fff,
    1571px 1744px #fff, 1167px 1498px #fff, 1945px 618px #fff, 198px 411px #fff,
    817px 1957px #fff, 488px 1876px #fff, 847px 1429px #fff, 1555px 1403px #fff,
    1123px 1522px #fff, 993px 1909px #fff, 923px 947px #fff, 1506px 631px #fff,
    964px 528px #fff, 1191px 1427px #fff, 1745px 1413px #fff, 1183px 288px #fff,
    426px 497px #fff, 831px 1995px #fff, 1456px 752px #fff, 501px 1595px #fff,
    1240px 1764px #fff, 606px 1492px #fff, 1249px 254px #fff, 578px 1785px #fff,
    1863px 121px #fff, 568px 1774px #fff, 708px 361px #fff, 1402px 534px #fff,
    201px 1475px #fff, 1213px 1608px #fff, 1054px 467px #fff, 1028px 1885px #fff,
    511px 1093px #fff, 473px 457px #fff, 155px 1860px #fff, 171px 1071px #fff,
    1946px 278px #fff, 321px 1594px #fff, 397px 864px #fff, 810px 1945px #fff,
    481px 1262px #fff, 1464px 329px #fff, 326px 452px #fff, 965px 1902px #fff,
    711px 748px #fff, 381px 518px #fff, 1069px 356px #fff, 431px 630px #fff,
    589px 40px #fff, 1527px 344px #fff, 67px 1920px #fff, 78px 84px #fff,
    1980px 1165px #fff, 629px 1373px #fff, 835px 1025px #fff, 1171px 1882px #fff,
    441px 712px #fff, 1082px 1816px #fff, 1430px 979px #fff, 168px 851px #fff,
    127px 813px #fff, 1427px 1360px #fff, 236px 1170px #fff, 839px 414px #fff,
    1846px 222px #fff, 1337px 1179px #fff, 1293px 809px #fff, 51px 23px #fff,
    1796px 1422px #fff, 105px 481px #fff, 476px 1153px #fff, 1465px 883px #fff,
    1942px 797px #fff, 1750px 2px #fff, 1202px 731px #fff, 398px 1984px #fff,
    1597px 1646px #fff, 974px 461px #fff, 1608px 1323px #fff, 1134px 893px #fff,
    628px 1249px #fff, 1398px 1498px #fff, 1528px 1392px #fff, 329px 1792px #fff,
    335px 480px #fff, 940px 1156px #fff, 265px 1467px #fff, 1493px 650px #fff,
    1555px 390px #fff, 1867px 1078px #fff, 1247px 576px #fff, 1222px 1376px #fff,
    182px 918px #fff, 294px 301px #fff, 423px 273px #fff, 1536px 1282px #fff,
    150px 1373px #fff, 1559px 1384px #fff, 1729px 239px #fff, 387px 1328px #fff,
    849px 1918px #fff, 1812px 935px #fff, 1897px 1770px #fff, 136px 511px #fff,
    747px 939px #fff, 1194px 380px #fff, 207px 523px #fff, 1875px 311px #fff,
    1208px 423px #fff, 1506px 1142px #fff, 1451px 542px #fff, 819px 861px #fff,
    1777px 808px #fff, 854px 856px #fff, 440px 1221px #fff, 428px 115px #fff,
    646px 1215px #fff, 1286px 1798px #fff, 1097px 21px #fff, 129px 615px #fff,
    241px 229px #fff, 393px 378px #fff, 1188px 1240px #fff, 880px 1303px #fff,
    1195px 46px #fff, 879px 418px #fff, 1320px 284px #fff, 472px 29px #fff,
    1673px 542px #fff, 1970px 596px #fff, 1926px 232px #fff, 1617px 159px #fff,
    403px 151px #fff, 580px 1911px #fff, 1104px 851px #fff, 979px 1538px #fff,
    1711px 881px #fff, 775px 1378px #fff, 794px 1269px #fff, 994px 1431px #fff,
    811px 147px #fff, 202px 1147px #fff, 894px 114px #fff, 321px 655px #fff,
    163px 1484px #fff, 280px 1408px #fff, 743px 446px #fff, 68px 1553px #fff,
    1236px 760px #fff, 1443px 1767px #fff, 1550px 1130px #fff, 362px 855px #fff,
    36px 679px #fff, 648px 1182px #fff, 1703px 1045px #fff, 1631px 825px #fff,
    1623px 551px #fff, 1397px 1022px #fff, 1077px 1234px #fff, 350px 1515px #fff,
    1109px 1866px #fff, 1235px 351px #fff, 935px 1208px #fff, 1729px 793px #fff,
    615px 1695px #fff, 993px 230px #fff, 1314px 1632px #fff, 227px 22px #fff,
    1613px 682px #fff, 1120px 1244px #fff, 1068px 995px #fff, 694px 788px #fff,
    880px 739px #fff, 1091px 1528px #fff, 1243px 467px #fff, 1860px 309px #fff,
    1988px 995px #fff, 972px 641px #fff, 833px 471px #fff, 770px 1505px #fff,
    1693px 1291px #fff, 1159px 1765px #fff, 551px 53px #fff, 252px 1481px #fff,
    1290px 1353px #fff, 195px 701px #fff, 999px 203px #fff, 1553px 127px #fff,
    136px 1148px #fff, 1183px 1280px #fff, 1682px 242px #fff, 582px 1626px #fff,
    1920px 281px #fff, 478px 435px #fff, 224px 861px #fff, 814px 870px #fff,
    1062px 1459px #fff, 1825px 1665px #fff, 1823px 1858px #fff,
    707px 1061px #fff, 1184px 76px #fff, 751px 1014px #fff, 747px 1035px #fff,
    198px 2px #fff, 1891px 909px #fff, 751px 1026px #fff, 300px 1157px #fff,
    155px 911px #fff, 1886px 1835px #fff, 1692px 1195px #fff, 226px 1656px #fff,
    226px 1762px #fff, 1272px 1560px #fff, 22px 1085px #fff, 935px 441px #fff,
    585px 909px #fff, 463px 1183px #fff, 1538px 1832px #fff, 597px 680px #fff,
    377px 1149px #fff, 313px 532px #fff, 787px 297px #fff, 808px 1296px #fff,
    1766px 192px #fff, 1316px 1973px #fff, 1797px 475px #fff, 1758px 1479px #fff,
    177px 1801px #fff, 261px 832px #fff, 1834px 2000px #fff, 1790px 293px #fff,
    1946px 197px #fff, 657px 587px #fff, 845px 1299px #fff, 782px 564px #fff,
    682px 1639px #fff, 276px 1845px #fff, 1639px 1571px #fff, 1144px 580px #fff,
    1733px 601px #fff, 754px 1050px #fff, 1183px 659px #fff, 1611px 1210px #fff,
    287px 1131px #fff, 1020px 67px #fff, 966px 1368px #fff, 469px 667px #fff,
    1546px 1759px #fff, 1912px 1225px #fff, 1293px 486px #fff, 718px 189px #fff,
    1361px 1983px #fff, 1045px 237px #fff, 1047px 1977px #fff, 1112px 1px #fff,
    1685px 1456px #fff, 880px 459px #fff, 871px 1450px #fff, 62px 929px #fff,
    585px 53px #fff, 809px 1841px #fff, 1432px 269px #fff, 474px 1305px #fff,
    1834px 1702px #fff, 1541px 341px #fff, 713px 1971px #fff, 1637px 1581px #fff,
    68px 678px #fff, 405px 226px #fff, 1547px 895px #fff, 931px 972px #fff,
    607px 1470px #fff, 907px 1897px #fff, 248px 1725px #fff, 730px 1510px #fff,
    460px 771px #fff, 1119px 844px #fff, 1014px 1856px #fff, 484px 848px #fff,
    117px 992px #fff, 445px 79px #fff, 244px 989px #fff, 1723px 1070px #fff,
    432px 594px #fff, 182px 1889px #fff, 290px 84px #fff, 540px 564px #fff,
    421px 1945px #fff, 1611px 769px #fff, 1404px 333px #fff, 153px 1054px #fff,
    745px 1843px #fff, 639px 1526px #fff, 259px 1146px #fff, 1684px 929px #fff,
    874px 1487px #fff, 1807px 909px #fff, 436px 1851px #fff, 1117px 1036px #fff,
    1482px 1413px #fff, 1813px 1282px #fff, 1890px 587px #fff,
    1953px 1371px #fff, 98px 1563px #fff, 1268px 1751px #fff, 1155px 522px #fff,
    216px 1343px #fff, 3px 1796px #fff, 1229px 1335px #fff, 1217px 1867px #fff,
    1521px 764px #fff, 1508px 627px #fff, 1726px 1610px #fff, 711px 350px #fff,
    1664px 1086px #fff, 1212px 1038px #fff, 645px 1849px #fff, 1138px 363px #fff,
    259px 257px #fff, 1918px 394px #fff, 243px 1870px #fff, 1737px 43px #fff,
    1296px 857px #fff, 171px 641px #fff, 383px 57px #fff, 1135px 1438px #fff,
    873px 1787px #fff, 1181px 1746px #fff, 1544px 1489px #fff, 1515px 382px #fff,
    1605px 352px #fff, 167px 1035px #fff, 8px 1745px #fff, 385px 474px #fff,
    1730px 1980px #fff, 808px 310px #fff, 824px 1550px #fff, 1232px 348px #fff,
    225px 257px #fff, 945px 1684px #fff, 371px 447px #fff, 811px 686px #fff,
    1455px 285px #fff, 1095px 325px #fff, 1426px 954px #fff, 446px 1973px #fff,
    996px 1203px #fff, 1242px 1420px #fff, 1799px 1770px #fff, 802px 219px #fff,
    894px 1436px #fff, 1042px 564px #fff, 1033px 49px #fff, 1817px 865px #fff,
    19px 1093px #fff, 323px 1381px #fff, 327px 1165px #fff, 1324px 584px #fff,
    1583px 875px #fff, 1138px 1223px #fff, 257px 1093px #fff, 14px 1827px #fff,
    1341px 6px #fff, 769px 1047px #fff, 1958px 1598px #fff, 149px 1816px #fff,
    1058px 1233px #fff, 1263px 257px #fff, 1319px 771px #fff, 1430px 913px #fff,
    760px 689px #fff, 431px 693px #fff, 296px 1954px #fff, 1766px 402px #fff,
    1742px 176px #fff, 1799px 672px #fff, 1109px 2000px #fff, 472px 682px #fff,
    745px 1291px #fff, 1387px 689px #fff, 1743px 535px #fff, 881px 189px #fff,
    1138px 1061px #fff, 1997px 1072px #fff, 995px 175px #fff, 1506px 598px #fff,
    1665px 1214px #fff, 196px 467px #fff, 1898px 729px #fff, 1821px 496px #fff,
    143px 1647px #fff, 320px 145px #fff, 1038px 303px #fff, 1045px 162px #fff,
    1579px 71px #fff, 1296px 253px #fff, 1659px 451px #fff, 707px 1584px #fff,
    405px 551px #fff, 534px 1925px #fff, 808px 331px #fff, 681px 1718px #fff,
    1478px 730px #fff, 568px 667px #fff, 439px 1110px #fff, 812px 1470px #fff,
    562px 9px #fff, 12px 1330px #fff, 727px 1076px #fff, 1325px 115px #fff,
    1802px 674px #fff, 352px 1847px #fff, 589px 730px #fff, 813px 1707px #fff,
    1701px 1747px #fff, 260px 1512px #fff, 612px 1177px #fff, 1474px 613px #fff,
    875px 1437px #fff, 223px 1693px #fff, 622px 575px #fff, 90px 279px #fff,
    1140px 1119px #fff, 1px 359px #fff, 1045px 64px #fff, 1932px 1387px #fff,
    433px 127px #fff, 368px 131px #fff, 960px 713px #fff, 622px 639px #fff,
    1127px 171px #fff, 418px 948px #fff, 1064px 778px #fff, 702px 1028px #fff,
    315px 61px #fff, 1060px 1244px #fff, 815px 1783px #fff, 813px 602px #fff,
    1839px 289px #fff, 136px 1070px #fff, 401px 1837px #fff, 864px 234px #fff,
    732px 441px #fff, 1730px 562px #fff, 423px 468px #fff, 1203px 1187px #fff,
    1508px 109px #fff, 1448px 1814px #fff, 803px 663px #fff, 1707px 1485px #fff,
    615px 619px #fff, 57px 133px #fff, 1137px 725px #fff, 514px 775px #fff,
    1430px 399px #fff, 1112px 1982px #fff, 768px 112px #fff, 534px 581px #fff,
    783px 145px #fff, 955px 1037px #fff, 93px 1465px #fff, 1757px 1124px #fff,
    1021px 924px #fff, 1633px 1013px #fff, 982px 61px #fff, 516px 1883px #fff,
    287px 1276px #fff, 261px 555px #fff, 348px 1594px #fff, 302px 1670px #fff,
    1337px 1434px #fff, 612px 749px #fff, 871px 697px #fff, 388px 990px #fff,
    737px 1672px #fff, 935px 1019px #fff, 1782px 1405px #fff, 1127px 1974px #fff,
    689px 1804px #fff, 322px 1003px #fff, 1149px 127px #fff, 666px 1026px #fff,
    876px 1947px #fff, 838px 945px #fff, 1550px 235px #fff, 1353px 1743px #fff,
    767px 643px #fff, 12px 1517px #fff, 545px 297px #fff, 1912px 286px #fff,
    203px 2000px #fff, 1084px 124px #fff, 19px 1716px #fff, 40px 466px #fff,
    1613px 892px #fff, 45px 1755px #fff, 1741px 1945px #fff, 1564px 1565px #fff,
    1439px 1683px #fff, 1239px 1149px #fff, 2000px 1916px #fff,
    186px 1287px #fff, 1442px 467px #fff, 613px 187px #fff, 365px 464px #fff,
    699px 1240px #fff, 1660px 99px #fff, 1899px 1135px #fff, 1860px 468px #fff,
    1136px 1178px #fff, 1334px 1761px #fff, 894px 1147px #fff, 1613px 693px #fff,
    1554px 8px #fff, 643px 1784px #fff, 439px 448px #fff, 1650px 548px #fff,
    1771px 373px #fff, 187px 1065px #fff, 1344px 935px #fff, 1385px 863px #fff,
    1026px 1365px #fff, 91px 1064px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1835px 1459px #fff, 1286px 422px #fff, 310px 1376px #fff,
    989px 1545px #fff, 1279px 420px #fff, 1280px 395px #fff, 1723px 48px #fff,
    1363px 244px #fff, 691px 1220px #fff, 399px 17px #fff, 1533px 1512px #fff,
    1482px 1547px #fff, 710px 1252px #fff, 921px 50px #fff, 1162px 1310px #fff,
    152px 1266px #fff, 1819px 97px #fff, 952px 315px #fff, 1490px 404px #fff,
    1986px 696px #fff, 1446px 1022px #fff, 1342px 906px #fff, 856px 1568px #fff,
    1676px 738px #fff, 1316px 1482px #fff, 1659px 1598px #fff,
    1921px 1578px #fff, 757px 575px #fff, 840px 1120px #fff, 1507px 9px #fff,
    1433px 258px #fff, 1982px 1181px #fff, 1360px 392px #fff, 242px 18px #fff,
    948px 1743px #fff, 1846px 373px #fff, 678px 935px #fff, 1355px 326px #fff,
    581px 882px #fff, 974px 1581px #fff, 407px 533px #fff, 1397px 1584px #fff,
    877px 360px #fff, 544px 1194px #fff, 297px 1581px #fff, 1951px 22px #fff,
    1625px 419px #fff, 989px 233px #fff, 1749px 712px #fff, 107px 972px #fff,
    1603px 1611px #fff, 599px 138px #fff, 432px 1626px #fff, 1712px 744px #fff,
    630px 601px #fff, 487px 225px #fff, 459px 280px #fff, 670px 1300px #fff,
    587px 1503px #fff, 1988px 854px #fff, 715px 281px #fff, 976px 1587px #fff,
    800px 1657px #fff, 1505px 317px #fff, 1571px 1855px #fff, 1017px 1901px #fff,
    1833px 1225px #fff, 1122px 661px #fff, 1538px 1138px #fff, 352px 1967px #fff,
    1383px 950px #fff, 1046px 532px #fff, 493px 119px #fff, 1991px 507px #fff,
    880px 742px #fff, 1457px 665px #fff, 1983px 843px #fff, 1632px 460px #fff,
    1458px 911px #fff, 440px 1496px #fff, 1147px 1715px #fff, 1657px 105px #fff,
    727px 983px #fff, 1898px 141px #fff, 539px 769px #fff, 1595px 166px #fff,
    1880px 1544px #fff, 149px 1294px #fff, 1904px 1650px #fff, 1403px 790px #fff,
    565px 1201px #fff, 597px 848px #fff, 269px 469px #fff, 930px 1144px #fff,
    1519px 227px #fff, 1539px 164px #fff, 518px 432px #fff, 313px 1495px #fff,
    18px 650px #fff, 1574px 632px #fff, 1008px 464px #fff, 118px 111px #fff,
    956px 1535px #fff, 797px 249px #fff, 805px 1975px #fff, 184px 794px #fff,
    342px 1610px #fff, 143px 1775px #fff, 241px 773px #fff, 1749px 1557px #fff,
    1813px 22px #fff, 1824px 1379px #fff, 1107px 580px #fff, 379px 619px #fff,
    958px 260px #fff, 1471px 1329px #fff, 1863px 342px #fff, 1032px 1388px #fff,
    439px 906px #fff, 1962px 503px #fff, 502px 752px #fff, 647px 1105px #fff,
    672px 1234px #fff, 164px 1669px #fff, 873px 1929px #fff, 711px 427px #fff,
    316px 535px #fff, 1178px 503px #fff, 761px 65px #fff, 1679px 1451px #fff,
    1737px 1705px #fff, 1151px 655px #fff, 950px 1648px #fff, 583px 1731px #fff,
    642px 542px #fff, 1322px 454px #fff, 128px 1823px #fff, 1365px 1246px #fff,
    957px 665px #fff, 319px 381px #fff, 1218px 512px #fff, 206px 711px #fff,
    292px 1142px #fff, 635px 1296px #fff, 1551px 16px #fff, 247px 1650px #fff,
    926px 432px #fff, 1378px 377px #fff, 1696px 593px #fff, 806px 750px #fff,
    1496px 720px #fff, 1870px 464px #fff, 541px 1112px #fff, 511px 1720px #fff,
    88px 1573px #fff, 1929px 1848px #fff, 1431px 946px #fff, 1509px 1790px #fff,
    788px 241px #fff, 1728px 1337px #fff, 1046px 1018px #fff, 1302px 1399px #fff,
    19px 1821px #fff, 960px 278px #fff, 469px 1724px #fff, 330px 440px #fff,
    173px 371px #fff, 1740px 686px #fff, 1909px 26px #fff, 692px 79px #fff,
    1817px 1223px #fff, 557px 835px #fff, 1971px 303px #fff, 1998px 1020px #fff,
    953px 1832px #fff, 1688px 829px #fff, 1432px 100px #fff, 700px 466px #fff,
    60px 107px #fff, 1181px 1487px #fff, 450px 1620px #fff, 1491px 167px #fff,
    1513px 374px #fff, 1792px 103px #fff, 683px 359px #fff, 478px 1954px #fff,
    81px 1539px #fff, 112px 1086px #fff, 1979px 672px #fff, 1568px 283px #fff,
    177px 1850px #fff, 1644px 62px #fff, 761px 1746px #fff, 904px 960px #fff,
    181px 691px #fff, 345px 290px #fff, 284px 1748px #fff, 1040px 1512px #fff,
    62px 1880px #fff, 1875px 1952px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1835px 1459px #fff, 1286px 422px #fff, 310px 1376px #fff,
    989px 1545px #fff, 1279px 420px #fff, 1280px 395px #fff, 1723px 48px #fff,
    1363px 244px #fff, 691px 1220px #fff, 399px 17px #fff, 1533px 1512px #fff,
    1482px 1547px #fff, 710px 1252px #fff, 921px 50px #fff, 1162px 1310px #fff,
    152px 1266px #fff, 1819px 97px #fff, 952px 315px #fff, 1490px 404px #fff,
    1986px 696px #fff, 1446px 1022px #fff, 1342px 906px #fff, 856px 1568px #fff,
    1676px 738px #fff, 1316px 1482px #fff, 1659px 1598px #fff,
    1921px 1578px #fff, 757px 575px #fff, 840px 1120px #fff, 1507px 9px #fff,
    1433px 258px #fff, 1982px 1181px #fff, 1360px 392px #fff, 242px 18px #fff,
    948px 1743px #fff, 1846px 373px #fff, 678px 935px #fff, 1355px 326px #fff,
    581px 882px #fff, 974px 1581px #fff, 407px 533px #fff, 1397px 1584px #fff,
    877px 360px #fff, 544px 1194px #fff, 297px 1581px #fff, 1951px 22px #fff,
    1625px 419px #fff, 989px 233px #fff, 1749px 712px #fff, 107px 972px #fff,
    1603px 1611px #fff, 599px 138px #fff, 432px 1626px #fff, 1712px 744px #fff,
    630px 601px #fff, 487px 225px #fff, 459px 280px #fff, 670px 1300px #fff,
    587px 1503px #fff, 1988px 854px #fff, 715px 281px #fff, 976px 1587px #fff,
    800px 1657px #fff, 1505px 317px #fff, 1571px 1855px #fff, 1017px 1901px #fff,
    1833px 1225px #fff, 1122px 661px #fff, 1538px 1138px #fff, 352px 1967px #fff,
    1383px 950px #fff, 1046px 532px #fff, 493px 119px #fff, 1991px 507px #fff,
    880px 742px #fff, 1457px 665px #fff, 1983px 843px #fff, 1632px 460px #fff,
    1458px 911px #fff, 440px 1496px #fff, 1147px 1715px #fff, 1657px 105px #fff,
    727px 983px #fff, 1898px 141px #fff, 539px 769px #fff, 1595px 166px #fff,
    1880px 1544px #fff, 149px 1294px #fff, 1904px 1650px #fff, 1403px 790px #fff,
    565px 1201px #fff, 597px 848px #fff, 269px 469px #fff, 930px 1144px #fff,
    1519px 227px #fff, 1539px 164px #fff, 518px 432px #fff, 313px 1495px #fff,
    18px 650px #fff, 1574px 632px #fff, 1008px 464px #fff, 118px 111px #fff,
    956px 1535px #fff, 797px 249px #fff, 805px 1975px #fff, 184px 794px #fff,
    342px 1610px #fff, 143px 1775px #fff, 241px 773px #fff, 1749px 1557px #fff,
    1813px 22px #fff, 1824px 1379px #fff, 1107px 580px #fff, 379px 619px #fff,
    958px 260px #fff, 1471px 1329px #fff, 1863px 342px #fff, 1032px 1388px #fff,
    439px 906px #fff, 1962px 503px #fff, 502px 752px #fff, 647px 1105px #fff,
    672px 1234px #fff, 164px 1669px #fff, 873px 1929px #fff, 711px 427px #fff,
    316px 535px #fff, 1178px 503px #fff, 761px 65px #fff, 1679px 1451px #fff,
    1737px 1705px #fff, 1151px 655px #fff, 950px 1648px #fff, 583px 1731px #fff,
    642px 542px #fff, 1322px 454px #fff, 128px 1823px #fff, 1365px 1246px #fff,
    957px 665px #fff, 319px 381px #fff, 1218px 512px #fff, 206px 711px #fff,
    292px 1142px #fff, 635px 1296px #fff, 1551px 16px #fff, 247px 1650px #fff,
    926px 432px #fff, 1378px 377px #fff, 1696px 593px #fff, 806px 750px #fff,
    1496px 720px #fff, 1870px 464px #fff, 541px 1112px #fff, 511px 1720px #fff,
    88px 1573px #fff, 1929px 1848px #fff, 1431px 946px #fff, 1509px 1790px #fff,
    788px 241px #fff, 1728px 1337px #fff, 1046px 1018px #fff, 1302px 1399px #fff,
    19px 1821px #fff, 960px 278px #fff, 469px 1724px #fff, 330px 440px #fff,
    173px 371px #fff, 1740px 686px #fff, 1909px 26px #fff, 692px 79px #fff,
    1817px 1223px #fff, 557px 835px #fff, 1971px 303px #fff, 1998px 1020px #fff,
    953px 1832px #fff, 1688px 829px #fff, 1432px 100px #fff, 700px 466px #fff,
    60px 107px #fff, 1181px 1487px #fff, 450px 1620px #fff, 1491px 167px #fff,
    1513px 374px #fff, 1792px 103px #fff, 683px 359px #fff, 478px 1954px #fff,
    81px 1539px #fff, 112px 1086px #fff, 1979px 672px #fff, 1568px 283px #fff,
    177px 1850px #fff, 1644px 62px #fff, 761px 1746px #fff, 904px 960px #fff,
    181px 691px #fff, 345px 290px #fff, 284px 1748px #fff, 1040px 1512px #fff,
    62px 1880px #fff, 1875px 1952px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 89px 547px #fff, 1040px 1711px #fff, 937px 1881px #fff,
    1669px 1778px #fff, 748px 1651px #fff, 812px 1171px #fff, 660px 698px #fff,
    1869px 197px #fff, 625px 1767px #fff, 1709px 1104px #fff, 1878px 1989px #fff,
    237px 193px #fff, 838px 1515px #fff, 1458px 1835px #fff, 100px 1467px #fff,
    1159px 52px #fff, 183px 293px #fff, 344px 1260px #fff, 483px 527px #fff,
    1792px 1343px #fff, 301px 1269px #fff, 1266px 1151px #fff,
    1846px 1513px #fff, 1487px 698px #fff, 679px 1306px #fff, 1939px 728px #fff,
    1327px 1997px #fff, 1712px 523px #fff, 1680px 280px #fff, 683px 1230px #fff,
    922px 1709px #fff, 1003px 1210px #fff, 700px 657px #fff, 735px 1836px #fff,
    1502px 176px #fff, 181px 1814px #fff, 1756px 18px #fff, 440px 439px #fff,
    680px 1439px #fff, 1993px 1274px #fff, 4px 63px #fff, 1619px 775px #fff,
    25px 1280px #fff, 125px 1614px #fff, 1956px 1290px #fff, 257px 978px #fff,
    775px 141px #fff, 976px 1523px #fff, 1430px 797px #fff, 734px 701px #fff,
    1179px 1335px #fff, 470px 429px #fff, 1165px 1858px #fff, 1149px 1696px #fff,
    170px 1059px #fff, 1354px 667px #fff, 1634px 1922px #fff, 250px 235px #fff,
    310px 1720px #fff, 108px 1568px #fff, 192px 203px #fff, 1504px 96px #fff,
    1775px 82px #fff, 182px 647px #fff, 541px 1173px #fff, 1335px 1935px #fff,
    316px 653px #fff, 928px 1397px #fff, 914px 1412px #fff, 164px 752px #fff,
    153px 1298px #fff, 821px 108px #fff, 1068px 1182px #fff, 672px 1594px #fff,
    1867px 1573px #fff, 528px 1493px #fff, 1267px 211px #fff, 714px 74px #fff,
    1250px 1908px #fff, 1087px 2000px #fff, 439px 735px #fff, 190px 622px #fff,
    1705px 1773px #fff, 1806px 1971px #fff, 1961px 764px #fff, 525px 1732px #fff,
    1775px 179px #fff, 1432px 1432px #fff, 1598px 1925px #fff,
    1316px 1410px #fff, 573px 1240px #fff, 93px 521px #fff, 1269px 390px #fff,
    791px 2000px #fff, 259px 1704px #fff, 115px 351px #fff, 1005px 906px #fff,
    328px 447px #fff, 1336px 1257px #fff, 789px 589px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 89px 547px #fff, 1040px 1711px #fff, 937px 1881px #fff,
    1669px 1778px #fff, 748px 1651px #fff, 812px 1171px #fff, 660px 698px #fff,
    1869px 197px #fff, 625px 1767px #fff, 1709px 1104px #fff, 1878px 1989px #fff,
    237px 193px #fff, 838px 1515px #fff, 1458px 1835px #fff, 100px 1467px #fff,
    1159px 52px #fff, 183px 293px #fff, 344px 1260px #fff, 483px 527px #fff,
    1792px 1343px #fff, 301px 1269px #fff, 1266px 1151px #fff,
    1846px 1513px #fff, 1487px 698px #fff, 679px 1306px #fff, 1939px 728px #fff,
    1327px 1997px #fff, 1712px 523px #fff, 1680px 280px #fff, 683px 1230px #fff,
    922px 1709px #fff, 1003px 1210px #fff, 700px 657px #fff, 735px 1836px #fff,
    1502px 176px #fff, 181px 1814px #fff, 1756px 18px #fff, 440px 439px #fff,
    680px 1439px #fff, 1993px 1274px #fff, 4px 63px #fff, 1619px 775px #fff,
    25px 1280px #fff, 125px 1614px #fff, 1956px 1290px #fff, 257px 978px #fff,
    775px 141px #fff, 976px 1523px #fff, 1430px 797px #fff, 734px 701px #fff,
    1179px 1335px #fff, 470px 429px #fff, 1165px 1858px #fff, 1149px 1696px #fff,
    170px 1059px #fff, 1354px 667px #fff, 1634px 1922px #fff, 250px 235px #fff,
    310px 1720px #fff, 108px 1568px #fff, 192px 203px #fff, 1504px 96px #fff,
    1775px 82px #fff, 182px 647px #fff, 541px 1173px #fff, 1335px 1935px #fff,
    316px 653px #fff, 928px 1397px #fff, 914px 1412px #fff, 164px 752px #fff,
    153px 1298px #fff, 821px 108px #fff, 1068px 1182px #fff, 672px 1594px #fff,
    1867px 1573px #fff, 528px 1493px #fff, 1267px 211px #fff, 714px 74px #fff,
    1250px 1908px #fff, 1087px 2000px #fff, 439px 735px #fff, 190px 622px #fff,
    1705px 1773px #fff, 1806px 1971px #fff, 1961px 764px #fff, 525px 1732px #fff,
    1775px 179px #fff, 1432px 1432px #fff, 1598px 1925px #fff,
    1316px 1410px #fff, 573px 1240px #fff, 93px 521px #fff, 1269px 390px #fff,
    791px 2000px #fff, 259px 1704px #fff, 115px 351px #fff, 1005px 906px #fff,
    328px 447px #fff, 1336px 1257px #fff, 789px 589px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
