body {
  font-family: "Poppins", sans-serif;
  background-color: #7d94b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0px;
}

/* Beige: #c8b7a6

Perriwinkle: #7d94b5

Dusty Rose: #c29591

Maroon Brown: #703f37

Muted Green: #b6c199 
poppins nutino fonts*/
