body {
  font-family: "Poppins", sans-serif;
  background-color: #7d94b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0px;
}

/* 8vw=30px */

h1 {
  font-size: 8vw;
}

@media only screen and (min-width: 375px) {
  h1 {
    font-size: 30px;
  }
}

.aboutMe {
  background-color: rgba(2, 1, 0, 0.15);
  backdrop-filter: blur(81.5485px);
  border-radius: 10px;
  margin-bottom: 10px;
}

.projects {
  background-color: rgba(2, 1, 0, 0.15);
  backdrop-filter: blur(81.5485px);
  border-radius: 10px;
}

/* Beige: #c8b7a6

Perriwinkle: #7d94b5

Dusty Rose: #c29591

Maroon Brown: #703f37

Muted Green: #b6c199 
poppins nutino fonts*/
